$color-primary: #243754;
$color-alternate: #2B4265;
$color-active: #345079;
$color-background: #152030;
$color-text: #EEEEEE;
$color-text-inactive: #999999;
$shadow-black-light: rgba(0, 0, 0, 0.1);
$shadow-black-medium: rgba(0, 0, 0, 0.3);
$shadow-white-light: rgba(255, 255, 255, 0.1);
